<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matatu sacco</title>
</head>
<body>
    <h1> Yeey!! you made it admin</h1>
    
    <h5>The total number of cars in the sacco is{{driver_details.all_car}}</h5>
    <h5>The car in line is {{driver_details.current_car_id}}</h5>
    <h5>The total makings of the sacco today is{{driver_details.makings}}</h5>
    <h5>The total makings of the sacco this week is {{driver_details.makings}}</h5>
    <h5>the saccos profit this week is{{driver_details.makings}}</h5>
  
</body>
</html>